<div class="overlay">


    <video id="videoElement" object-fit="cover" class="vjs-default-skin mr-4 vjs-big-play-centered vjs-16-9 video-box" controls></video>

    <div class="container-fluid">
        <div class="row">
            <h2>{{this.room}}</h2>
            <hr>
        </div>
        <div *ngIf="userNameInput" class="row">
            <div  class="col-sm-5" >
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
                    <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->
                </div>
            </div>
            <div class="col sm-2">
                <div style="margin-top:19px;" class="pull-right">
                    <button type="button" class="btn btn-primary joinbtn" (click)="join()">Join</button>
                    <!-- <button type="button" class="btn btn-default" (click)="leave()">Leave</button> -->
                </div>
            </div>
        </div>

        <div *ngIf="div1">

          <div class="row messages">
            <div class="well" style="height:400px; padding:15px;">
            <div>
              <h4>Welkom in de chat</h4>
            </div>
            <hr>
              <div *ngFor="let message of messages" class ="msgItem">
                <span>{{message.senderNickname}} : </span> {{message.message}}
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <input type="text" class="form-control" [(ngModel)]="message">
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-success pull-right" (click)="sendMessage()">Send</button>
            </div>
          </div>

        </div>


    </div>


</div>
